
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center">
          <h1>Register</h1>
          <p>Sign up and get access to our database of dog breeders.</p>
        </div>

        <div class="well">
          <%= render "form" %>
        </div>

      <div class="text-center devise-links">
        <%= render "devise/shared/links" %>
      </div>
      
    </div>
  </div>
</div>