<div class="container-fluid">
	<div class="row-fluid">
    <div class="home-callout text-center centering">
			<h3>Find and research reputable dog breeders.</h3>
			<h3><%= link_to "Sign-up", "#", class: "btn btn-info btn-lg home-button" %></h3>
			<h3><%= link_to "Log In", "#", class: "btn btn-info btn-lg home-button" %></h3>
		</div>
	</div>
</div>