<div class="container-fluid">
	<% if user_signed_in? %>
    <div class="text-center db-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Dog Breeders</h1>
          <p>List of dog breeders</p>
        </div>
      </div>
    </div>
	<% else %>
    <div class="row-fluid">
  	  <div class="home-callout text-center centering">
  			<h2 class="tagline">Find and research reputable dog breeders.</h2>
  			<h3><%= link_to "Register", new_user_registration_path, class: "btn btn-lg home-button" %></h3>
  			<h3><%= link_to "Log In", new_user_session_path, class: "btn btn-lg home-button" %></h3>
  		</div>
    </div>
	<% end %>
</div>