/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

* {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
 
.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
 

.centering {
  float:none;
  margin:0 auto;
}

body {
  //Gradient provided by @_ighosh at uiGradients.com
	background: #E8CBC0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  border: none;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

.home-button {
  width: 350px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 250;
  background-color: rgba(255, 255, 255, 0.65);
  border: none;
  border-radius: 20px;
  color: gray;
  &:hover {
    color: grey;
    background-color: white;
    opacity: 0.95;
  }
}
